<!-- Christmas Snowfall Effect -->
<div class="snowflakes" aria-hidden="true">
  <div class="snowflake sf-1"></div>
  <div class="snowflake sf-2"></div>
  <div class="snowflake sf-3"></div>
  <div class="snowflake sf-4"></div>
  <div class="snowflake sf-5"></div>
  <div class="snowflake sf-6"></div>
  <div class="snowflake sf-7"></div>
  <div class="snowflake sf-8"></div>
  <div class="snowflake sf-9"></div>
  <div class="snowflake sf-10"></div>
  <div class="snowflake sf-11"></div>
  <div class="snowflake sf-12"></div>
  <div class="snowflake sf-13"></div>
  <div class="snowflake sf-14"></div>
  <div class="snowflake sf-15"></div>
  <div class="snowflake sf-16"></div>
  <div class="snowflake sf-17"></div>
  <div class="snowflake sf-18"></div>
  <div class="snowflake sf-19"></div>
  <div class="snowflake sf-20"></div>
  <div class="snowflake sf-21"></div>
  <div class="snowflake sf-22"></div>
  <div class="snowflake sf-23"></div>
  <div class="snowflake sf-24"></div>
  <div class="snowflake sf-25"></div>
  <div class="snowflake sf-26"></div>
  <div class="snowflake sf-27"></div>
  <div class="snowflake sf-28"></div>
  <div class="snowflake sf-29"></div>
  <div class="snowflake sf-30"></div>
  <div class="snowflake sf-31"></div>
  <div class="snowflake sf-32"></div>
  <div class="snowflake sf-33"></div>
  <div class="snowflake sf-34"></div>
  <div class="snowflake sf-35"></div>
  <div class="snowflake sf-36"></div>
  <div class="snowflake sf-37"></div>
  <div class="snowflake sf-38"></div>
  <div class="snowflake sf-39"></div>
  <div class="snowflake sf-40"></div>
</div>
