---
layout: compress
---

{% include base_path %}
{% include site_theme %}
{% include seasonal_theme %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js" data-theme="{{ site_theme }}">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>
    {% if seasonal.ambient %}<div class="seasonal-ambient">{% include {{ seasonal_dir }}/ambient.html %}</div>{% endif %}
    {% if site.seasonal_theme == 'christmas' %}{% include christmas-snow.html %}{% endif %}
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer{% if site.seasonal_theme == 'christmas' %} christmas-border-bottom{% endif %}">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
